<p id="notice"><%= notice %></p>

<div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= render 'side', user: @user %>
          <%= render 'form', book: @book %>
        </div>
        <!-- ここから右 -->
        <div class="col-sm-9">
          <h1>Books</h1>

          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @user.books.each do |book| %>
                <tr>

                  <td>
                    <%= attachment_image_tag book.user, :profile_image, :fill, size: "40x40", format: 'jpeg', fallback: 'no_image.jpg', class: "pull-left profile-img" %>
                  </td>
                  <td>
                  	<%= link_to book.title, book_path(book.user) %>
                  </td>
                  <td>
                  	<%= link_to book.opinion, book_path(book.user) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>


        </div>

      </div>
</div>
