<p id="notice"><%= notice %></p>

<div class="container">
      <div class="row">
        <div class="col-sm-3">
           <%= render 'users/side', user: @books.user %>
          <%= render 'users/form', book: @book %>
        </div>

<!-- main部分 -->
        <div class="col-sm-9">
          <h1>Books detail</h1>

          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
                <tr>

                  <td>
                    <%= attachment_image_tag @books.user, :profile_image, :fill, size: "40x40", format: 'jpeg', fallback: 'no_image.jpg', class: "pull-left profile-img" %>
                    <%= link_to @books.user.name, user_path(@books.user) %>
                  </td>
                  <td><%=@books.title %></td>
                  <td><%=@books.opinion %></td>
                  <% if @books.user == current_user %>
                  <td><%= link_to 'Edit', edit_book_path(@books), class: "btn-sm btn-success edit_book_#{@books.id}" %></td>
                  <td><%= link_to 'Destroy',@books, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger destroy_book_#{@books.id}" %></td>
                  <% end %>
                </tr>
            </tbody>
          </table>

          <br>


        </div>

      </div>
</div>